node_modules/
.env
*.sqlite
*.log
dist/
coverage/
.DS_Store
.vscode/
server/uploads/
client_dist.zip
*.zip
Bin/deploy_archives/
Bin/client_archives/
Bin/rclone.exe
*firebase-adminsdk-*.json
firebase-service-account.json
server/config/firebase-service-account.json
temp.js

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
